footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(0,114,51);
    color: white;
}
body, html {
    padding: 0;
    height: 100%;
    margin: 0;
}
.good-height {
    height: 82%
}
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.maxsize {
    max.width: 800px;
    max.height: 600px;
    margin: auto;
}

.footerText {
    margin:0;
    font-family: Georgia, serif;
    font-size: medium;
}
a {
    text-decoration: none;
    color: rgb(0,109,55);
}
.aboutLink a:hover {
    text-decoration: none;
    color: rgb(0,109,55);
    background-color: rgb(233,233,233);
}
h1 {
    font-family:Georgia, serif; font-size:40px;
}
.rnsGreen {
    color: rgb(0,135,30);
}
.rnsNavy {
    color:rgb(0,70,138);
}
.topnav {
    overflow: hidden;
    background-color: rgb(233,233,233);
}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: rgb(211,211,211);
    cursor: pointer;
    color: black;
}
.topnav a.active {
    background-color: rgb(0,135,30);
    color: white;
}
.topnav a.notouch {
    background-color: rgb(233,233,233);
}
.topnav a.logo {
    background-color: rgb(0,109,55);
}
.menuLeft {
    background-color: rgb(240,240,240);
}
.menuTop {
    background-color: rgb(220,220,220);
}
td {
    padding: 15px !important
}
.buttonG {
    background-color: rgb(0,109,55);
    color: white;
    padding: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
}
.buttonG:hover {
    background-color: rgb(3, 82, 42)
}
